<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active" style="background-image:url('assets/img/ed-sheeran.jpg')"></div>
    <div class="carousel-item" style="background-image:url('assets/img/metallica.jpg')"></div>
    <div class="carousel-item" style="background-image:url('assets/img/heroes.jpg')"></div>

  </div>
</div>

<div class="container top-30">

  <div class="row">
    <div class="col-md-4 text-center">
      <img src="assets/img/artist.png" alt="">
      <hr>
      Lorem ipsum dolor sit amet, consectetur
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/img/music.png" alt="">
      <hr>
      Lorem ipsum dolor sit amet, consectetur
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/img/album.png" alt="">
      <hr>
      Lorem ipsum dolor sit amet, consectetur
    </div>
  </div>

</div>
